body{
    font-family: sans-serif;
    overflow-x: hidden;
    
}
/* mise en page du header */
#logo-fabrique{
    height:10% ;
    width:10% ;
    margin-right: 7%;
    margin-left: 3%;
    margin-top:1% ;
}
header{
    border: hidden;
    padding:2%;
    box-shadow: 5px 5px 25px rgb(230, 225, 225);
}
nav{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color:black
}
nav ul li a:hover{
    color:rgb(199, 15, 52);
    text-decoration-line: underline;
    text-underline-offset: 3rem;

}
nav ul li{
    list-style: none;
    margin-right:15%;
    font-weight: 600;
}
#list-langue{
    display: flex;
}
select{
    margin-right:7%;
    border: hidden;
    background: none;
}

 #btn-contact{
    background-color: #CE0033;
    color: white;
    padding: 6%;
    border: hidden;
    border-radius:12px;
    Cursor:pointer;
 }
nav ul {
    display: flex;
    align-items: center;
}
/* styliser la section de la fabrique et des missions */

.gros_titre{
   text-align: center;
   background-image:url("images/arrièreplan.png") ;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 300px;
   font-size: x-large;
   color: white;
   font-weight: bolder;
}

.missions p{
   width: 250px;
   line-height: 2;
   font-size:15px
}
.fabric{
  display:flex;
  justify-content: center;
  background-color:#CE0033;
  color:white;
  opacity:0.6;
  width: 60%;
  margin-top: -5%;
  margin-left:20% ;
  height: 300px;
}
.bordure{
    border-left:solid;
    padding-left: 80px;
}
.missions{
    margin-right: 35px;
    margin-left: 50px;
    
}
.missions h2{
    font-size: 30px;
}

/* La petite histoire */
.femme{
    height: 280px;
    width: 450px;
    margin-left:150px ;
    padding-top: 30px;
}
.ouverture p{
  width: 400px;
  line-height: 2;
  margin-top: -12px;
  margin-left: 150px;

}
.histoire{
    text-align: center;
    color: #ce0033;
    font-size: 35px;
    font-weight:bold ;
    
}

.ouv{
    color: #CE0033;
    font-size: 25px;
    font-weight:bold ;
    padding-top:40px ;
}
.cont{
    display: flex;
    background-color: hwb(60 96% 3%);
    
}
.petite p{
    position:relative;
    margin-left: 480px;
    margin-top: -250px;
    background-color: #CE0033;
    color: white;
    font-size: 35px;
    padding-left:3% ;
    font-weight: bold;
    border-top-left-radius:25% ;
}
.cont ul{
    display: flex;
    text-align: center;
    margin-left: 150px;
}

.cont .marge{
    margin-top: 300px;
    margin-left: -700px;
    color: #CE0033;
    font-size: 30px;
    font-weight:bold ;

}
.cont .marge1{
    margin-top: 300px;
    margin-left: 70px;
    color: #CE0033;
    font-size: 30px;
    font-weight:bold ;

}
.cont .marge2{
    margin-top: 320px;
    margin-left: 70px;
    color: #CE0033;
    font-size: 2px;
    font-weight:bold ;
    border-top-right-radius: 15px;
    
}
.cont button{
    margin-top: -120px;
    color: #CE0033;
    background-color: #CE0033;
    border: solid;
    border-radius:30% ;
    height: 30%;
    width: 30px;
    margin-left:-30px ;
    font-size: 1px;
}

/* styliser la partie pédagogie */
.titres{
    text-align: center;
    color: #ce0033;
    font-size: 35px;
    font-weight:bold ;
}
#pédagogie p{
    width: 28em;
    font-size: 1.2em;
    text-align:left;
    line-height: 2em;
}
#pédagogie{
    display:flex;
    justify-content: space-evenly;
    align-content: center;
}
.part{
    margin-left:30px ;
}
#pédagogie h3{
    color: rgb(204, 31, 65);
    margin-bottom: 0.6em;
    font-size: 1.6em;
}
.youtube{
    padding-top:40px ;
}
/* styliser la partie des 6 pliers */
#plier-pédagogie{
    font-size:2em;
    color: rgb(187, 14, 48);
    margin-top: 4em;
    margin-bottom:1em;
    margin-left:1.5em;
}
#pliers span{
    font-size: 3em;
    color: rgb(197, 15, 52);
    margin-left: 0.2em;
}
#pliers h3{
    font-size:1em;
    margin-bottom:1em;
    margin-left: 0.6em;
}
#pliers p{
    font-size: 1em;
    width: 19em;
    margin-left: 0.6em;
}
.box{
    padding:0.5em;
    margin: 1em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: rgb(194, 16, 51);
    box-shadow: 10px 5px 14px rgb(248, 246, 246);
    margin-left: 10px;
}

#pliers{
    display:grid;
    grid-template-columns: 400px 400px ;
}
#section-box{
    display:flex;
    justify-content: space-evenly;
}
#étudiants-simplon{
    width:400px ;
    height:700px;
    border-radius:14px;
    box-shadow:27px -14px white;
    margin-left:-20px ;
}
.groupe button{
    background-color: white;
    border: solid;
    border-radius:50% ;
    width: 30px;
    margin-left:-30px ;
    font-size: 1px;
    color: white;
    padding:-80px ;
    margin-top: 15px;
}
.groupe ul{
    position: relative;
    display: flex;
    font-size:30px ;
    margin-top: -80px;
    margin-left:100px ;
    
}
.groupe li{
   color: white;
    margin-left: 30px;
    font-weight: bold;
}
.groupe .marge2{
    font-size: 0px;
}



/* styliser la partie des valeurs */
#valeur-div h3{
    color: rgb(211, 38, 73);
    font-size:2em;
    margin-bottom: 0.5em;
}
#valeur-div p{
    width: 418px;
    line-height: 2em;
    margin-bottom: 6em;
}
#btn-voir-plus{
    font-size: 1.2em;
    border-radius: 35px;
    padding-left:3em;
    padding-right:3em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    border-color: rgb(252, 249, 249);
    cursor:pointer
}
.respect{
    display:flex;
    margin:1em;
    border:solid thin rgb(250, 240, 240);
    padding-left: 1.5em;
    padding: 2em;
}
.respect span{
    font-size: 1.3em;
}
.respect p{
    line-height:1.5em;
}
.respect h4{
    color: rgb(212, 17, 56);
    padding:0.8em;
    font-size: 1.4em;
    margin-right: 1em;
    margin-top: 0.1em;
    border: hidden;
    border-radius: 35px;
    background-color:rgb(255, 189, 202);
}
#valeur{
    display:flex;
    justify-content: space-evenly;
}
#valeur-div li{
    margin-left: 600px;
    margin-top: -300px;
    color: white;
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* Ajustez la largeur du côté horizontal du triangle */
    border-bottom: 20px solid #CE0033; /* Ajustez la hauteur du côté vertical du triangle */
}



/* styliser la partie chiffre */
#chiffres{
    display:flex;
    justify-content: space-evenly;
    align-content:center ;
    background-image: url("imgfab/arriere pan.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    color: white;
}
#chiffres div{
    width: 180px;
    text-align: center;
}
#chiffres h2{
    font-size: 3em;
    margin-bottom: 0.5em;
}

/* styliser la partie de l'équipe */
#ngor,#samba,#sane{
 width: 110px;
 height:110px;
 border-style: hidden;
 border-radius:50px;
}
#paragraphe-equipe{
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 4em;
}
.profil-formateur{
    border-style:hidden;
    border-radius: 4%;
    padding:2em;
    box-shadow: 13px 13px 13px 7px rgb(230, 226, 226);
}

#formateur{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
}


.section-equipe ul{
    font-size: 30px;
    color: #CE0033;
    margin-left: 500px;
    display: flex;
    color:#CE0033


}
.section-equipe .ekip{
   margin-right:40px ; 
   margin-top: -12px;

}
.section-equipe .ekipp{
    border:solid;
    width: 30px;
    height:5px ;
    border-radius: 30px;
    background-color: #CE0033;
    font-size: 1px;
    margin-left: -20px;
}


.profil-formateur h4{
    margin-top:0.6em;
    margin-bottom:0.5em;
    font-size: 1.5em;
}
.profil-formateur span{
    color:crimson;
    font-size:0.8em
}

.profil-formateur p{
    margin-top: 2em;
    color:rgb(179, 173, 173);
    font-size: 1.3em;
    margin-bottom: 2em;
}
.icon{
    height:auto;
    width:13%;
}
.material-symbols-outlined{
    position: relative;
    color: white;
    font-weight: bold;
    background-color: #CE0033;
    border-left: -12px;
    margin-left: -20px;
    top: -200px;
    border-radius: 50%;
    border: solid;
    

}
.arrow-right{
    background-color: #CE0033;
    font-weight: bold;
    margin-left: 1200px;
    top: 80%;
    border-radius: 50%;
    top:200px ;
    bottom: -400px;
    
    
}

#fabrique{
    margin-top: 2%;
    margin-bottom: 1%;
}
.container {
    margin: auto;
    padding: 2%;
    
}

#fabrique .row{
    max-width: 100%;
    
    display: flex;
   
}
.row .col1{
    max-width: 28%;
    padding: 2%;
    margin-left: 3%;
    
}
#fabrique .titre4{
    color: #ce0033;
    text-align: center;
    font-weight: bold;
    margin: 2%;
}
.col1 h3{
    
    margin-top: 0%;
    color: black;
}
.col1 p{
   
    margin-top: -4%;
    color: rgb(22, 21, 21);
}
.col1 img{
    width: 100%;
    margin-left:-10px;


}
.principal{
    width: 100%;
    height: 70%;
    background: hsl(0, 7%, 91%);
    display: flex;
}
.voyager p{
    margin-left: 170px;
}
img{
    margin-left: 170px;
}
.titre{
    font-weight: bold;
    font-size:25px ;
    color: #ce0033;
}
.sekou{
    font-weight: bold;
}

/* styliser la partie recrutement */
#groupe-simplon h3{
 color:rgb(206, 16, 54);
 font-weight: bolder;
}
#groupe-simplon p{
width:90% ;
line-height: 1.6;
}
#groupe-simplon{
    display:grid;
    grid-template-columns: 600px 600px;
    gap:10%;

}
#groupe-simplon img{
    margin-left:10% ;
}
#photo-de-groupe{
    height: auto;
    width:100%;
}
#cours{
font-size:2em
}
#offre h4{
font-size: 1.3em;
}
#offre h5{
    color:crimson;
    font-size: 1em;
}
#offre p{
    width: 45%;
    font-size: 1em;
}
#offre ul li{
    list-style: none;
    margin: 3%;
}
#offre ul{
    width:11%;
    padding:1%;
    border: solid thin;
    border-radius: 11px;
    border-color: rgb(233, 228, 228);
    background-color: white;
    box-shadow:5px 5px 5px rgb(223, 221, 221);
    position:absolute;
    left:24%;
    margin-top: -200px;
    margin-left: 150px;
    padding-top: 12px;
}
iconify-icon{
    margin-right:16px ;

}

.element{
    margin-bottom: -2000px;
}
#offre{
    border: hidden;
    border-radius: 3%;
    background-color: rgb(248, 243, 243);
    margin-top: 1%;
    padding: 5%;
    width: 500px;
    margin-right: 90px;
    margin-left:50px ;
    padding-top: 20px;

}
#offre a{
    margin-left:480px ;
    color: black;
    font-size:20px ;
}
.icone{
    margin-right: 12%;
    height: auto;
    width: 1.3em;
}
#rejoindre{
    margin-left: 30px;
}
#input{
    padding: 3%;
    box-shadow: 5px 4px 2px rgb(235, 232, 232);
    border-radius:5%;
    border:solid thin rgb(238, 232, 232);
    margin: 2%;
}
::placeholder{
    color:rgb(201, 197, 197);
}
textarea{
    padding: 2.5%;
    font-size: 1.1em;
    box-shadow: 5px 4px 3px rgb(248, 242, 242);
    border-radius:2%;
    border:solid thin rgb(238, 232, 232);
}
#btn-rejoindre{
    font-size: 1em;
    font-weight: bolder;
    background-color: crimson;
    color: white;
    padding: 15px 45px;
    border: none;
    border-radius:30px;
    cursor:pointer
}
#btn-postuler{
    font-size: 1em;
    font-weight: bolder;
    background-color: crimson;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius:30px;
    cursor: pointer;
    margin-left: 31%;
margin-top: 50px;
}
.ecriture{
    margin-left: -280px;
}

#btn-joindrefichier{
    color:rgb(201, 19, 55);
    border:none;
    background: white;
    cursor: pointer;
    
}
#paperclip{
    margin-left:48%;
}
.paperclip{
    transform: rotate(-29deg);
}
#fields{
    color:rgb(201, 197, 197);
}
#region{
    display: flex;
}
.temoignage{
    display: flex;
}
.photo{
    display: block;
    margin-left: 300px;
}
.tell h1{
    text-align: center;
    color: #ce0033;
}
.tell prenom{
    font-weight: bold;
    font-size: 22px;
}
.photo img{
    border-radius: 100%;
    margin-left: -10px;
}
.tell{
    margin-left: -100px;
}
.text{
    color: darkgrey;
}
#candidature{
    margin-top: 1%;
    margin-bottom: 1%;
}
.container {
    margin: auto;
    padding: 2%;
    
}
#candidature .titre5{
    color: #ce0033;
    text-align: center;
    font-weight: bold;
    margin: 2%;
}
#candidature .rows{
    
    max-width: 100%;
}
#candidature .row{
    max-width: 100%;
    margin: 5% 5% 5% 5%;
    display: flex;
    background-color: #fff;
    gap: 9%; /* Espace entre les colonnes */
    
   
}
.row .col2{
    max-width: 250px;
    height: 100px;
    margin-top: 2%;
    padding: 1%;
    background-color: #fff;
    box-shadow:0px 2px 8px ;
    gap: 20px; /* Espace entre les colonnes */
    display: flex;
}

.col2 .image8 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#ce0033;
    color: #fff;
    text-align: center;
    

}
.col2 .image9 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:orange;
    color: #fff;
    text-align: center;
   

}
.col2 .image10{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:orangered;
    color: #fff;
    text-align: center;
   
   

}
.col2 .texte8{
    text-align: center;
    display: inline-block;
    
}

/* styliser la partie des partenaires */
.partner{
    display:flex;
    justify-content: space-evenly;
}
#partner1{
    margin-bottom: 10%;
    margin-top: 6%;
}
#partner2{
    margin-bottom: 25%;
}
#orange{
    height: 100px;
    width: 160px;
   }
#societe{
   height: 100px;
   width: 210px;
   }
#france{
    height:auto;
    width:110px;
   }
#union{
    height: auto;
    width:110px ;
   }
#aviva{
    height: auto;
    width:110px ;
}
#partenariats{
    margin-bottom: -310px;
}
/* styliser le footer */
footer{
    display: flex;
    justify-content:space-evenly;
    background-image: url("imgfab/Design sans titre (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:4%;
}
footer h2{
    color: white;
}
footer p{
    color:rgb(182, 180, 180)
}
#btn-joindre{
    background-color: rgb(192, 15, 50);
    color: white;
    border: none;
    cursor: pointer;
}
#simplon{
    height: auto;
    width:55%;
    margin-top:5%;
}
.réseau{
    margin-top:6%;
    height: auto;
    width: 9%;
    margin-left: 2%;
}
aside{
    color:white;
    background-color: crimson;
    padding: 1.5%;
    font-size:1em;
}
aside span{
    margin-left: 61%;
}
